.containerHeader {
    background-color : blanchedalmond ;
  }
  .mat-toolbar{
    background-color : blanchedalmond ;
    text-align: center;
  }
s
  span {
    margin-left:-150px; 
    
    display:block;
}