<form [formGroup]="service.form" class="normal-form">
  <mat-grid-list cols="1" rowHeight="600px">
    <mat-grid-tile>
      <div class="controls-container">
        
        <mat-form-field>
          <input formControlName="fullName" matInput  placeholder="Name*" autocomplete="off" maxlength="21">
          <mat-error *ngIf="fullName.errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="fullName.errors?.pattern">Only alphabets allowed in Name</mat-error>
          <mat-error *ngIf="fullName.touched   && fullName.errors?.minlength">Name should have atleast 2 characters.</mat-error>
          <mat-error *ngIf="fullName.touched   && fullName.errors?.maxlength">Maximum length of Name allowed is 20 characters.</mat-error>
        </mat-form-field>
        
        <mat-form-field>
          <input formControlName="age" matInput OnlyNumber="true"  (keypress)="numberOnly($event)" placeholder="Age*" autocomplete="off" maxlength="3">
          
          <mat-error *ngIf="service.form.controls['age'].errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="age.touched   && (age.errors?.min ||  age.errors?.max  )">Please enter a valid age.</mat-error>
          
        </mat-form-field>

        
        <mat-form-field>
          <input formControlName="dateOfBirth" matInput [matDatepicker]="picker" placeholder="Date of Birth*" autocomplete="off" [errorStateMatcher]="service.errorMatcher">
          <mat-error *ngIf="dateOfBirth.errors?.required">Please enter a valid date.</mat-error>
          <mat-error *ngIf="service.form.errors?.ageMustMatch">Age entered and date of Birth do not match</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
        </mat-form-field>

        <mat-form-field>
          <input formControlName="deathSumInsured" matInput OnlyNumber="true" (keypress)="numberOnly($event)" placeholder="Death - Sum Insured*" autocomplete="off">
          <span matPrefix>$&nbsp;</span>
          <span matSuffix>.00</span>
          <mat-error *ngIf="deathSumInsured.errors?.required">This field is mandatory.</mat-error>
          <mat-error *ngIf="deathSumInsured.touched   && deathSumInsured.errors?.min">Sum Insured should be greater than {{deathSumInsured.errors.min.min}}.</mat-error>
          <mat-error *ngIf="deathSumInsured.touched   && deathSumInsured.errors?.max">Maximum Sum Insured is {{deathSumInsured.errors.max.max}}.</mat-error>
        </mat-form-field>

        
        
        <mat-form-field>
          <mat-select formControlName="occupation" placeholder="Select an Occupation to calulate Premium" (selectionChange)="selectionChanged()"  
          [disabled]="!(   (fullName.touched && fullName.valid)
                       && (age.touched && age.valid)
                       && (dateOfBirth.touched && dateOfBirth.valid)
                       && (deathSumInsured.touched && deathSumInsured.valid)
                       && !(service.form.errors?.ageMustMatch)
                       
                       )" 
          
          
          required autocomplete="off">
            <mat-option value="-1">Select an Occupation</mat-option>
            <ng-container *ngFor="let occupationRating of occupationRatings">
              <mat-option value="{{occupationRating.id}}">{{occupationRating.value}}</mat-option>
            </ng-container>
            <mat-error *ngIf="occupation.errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="occupation.errors?.notSelected">Please choose an occupation.</mat-error>
          </mat-select>
        </mat-form-field>
        
        <mat-card smat-headline *ngIf="premium > 0">Your Monthly Premium is ${{premium | number:'1.0-1'}}</mat-card>

        
        
      </div>
    </mat-grid-tile>
    
  </mat-grid-list>
</form>